<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Kullanıcı Kaydı</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="TcNo" Placeholder="Tc'niz" required="" />
                <input type="text" class="name" name="KullaniciAd" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="KullaniciSoyad" Placeholder="Soyadınız" required="" />
                <input type="text" class="name" name="Cinsiyet" Placeholder="Cinsiyetiniz" required="" />
                <input type="text" class="name" name="AileHekimi" Placeholder="Aile Hekiminiz" required="" />
                <input type="text" class="name" name="Yas" Placeholder="Yaşınız" required="" />
                <input type="text" class="name" name="Kilo" Placeholder="Kilonuz" required="" />
                <input type="text" class="name" name="Boy" Placeholder="Boyunuz" required="" />
                <input type="text" class="name" name="DogumTarihi" Placeholder="Doğum Tarihiniz" required="" />
                <input type="text" class="name" name="KanGrubu" Placeholder="Kan Grubunuz" required="" />
                <input type="text" class="name" name="TelNo" Placeholder="Telefon Numaranız" required="" />

                <input type="text" class="mail" name="KullaniciMail" Placeholder="Mail Adresiniz" required="" />
                <input type="password" class="password" name="KullaniciSifre" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları okudum &amp; Kabul Ediyorum
                    </label>
                </div>
                <input type="submit" value="Kaydol">
            </form>
        </div>
    </div>
</div>