@model IEnumerable<MvcESaglik.Models.Siniflar.SinifGrup>
@{
    ViewBag.Title = "KolayTablolar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <div class="wrapper">
        <!-- Navbar -->
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Hızlı Bakış Tabloları</h1>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        
                        <!-- /.card -->

                        @Html.Action("Partial1", "istatistik")
                        <br />
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        
                        <!-- /.card -->
                        @Html.Action("Partial4", "istatistik")
                        <br />
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                @Html.Action("Partial3", "istatistik")
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>