
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
    <meta name="author" content="themefisher.com">

    <title>Novena E-Sağlık Platformu</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/novena/images/favicon.ico" />

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/novena/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="~/novena/plugins/icofont/icofont.min.css">
    <!-- Slick Slider  CSS -->
    <link rel="stylesheet" href="~/novena/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/novena/plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/novena/css/style.css">

</head>

<body id="top">

    <header>
        <div class="header-top-bar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <ul class="top-bar-info list-inline-item pl-0 mb-0">
                            <li class="list-inline-item"><a href="mailto:support@gmail.com"><i class="icofont-support-faq mr-2"></i>support@novena.com</a></li>
                            <li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Hürriyet Caddesi No: 417 Beylikdüzü/İstanbul</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-lg-right top-right-bar mt-2 mt-lg-0">
                            <a href="tel:+23-345-67890">
                                <span>Çağrı Merkezi : </span>
                                <span class="h4">ALO 182</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navigation" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" class="img-fluid">
                </a>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icofont-navigation-menu"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarmain">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/AnaSayfa/">Ana Sayfa</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/Home/Hakkımızda/">Hakkımızda</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Home/Hizmet/">Hizmetlerimiz</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İşlemler <i class="icofont-thin-down"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown02">
                                <li><a class="dropdown-item" href="/Login/Index/">Kayıt Ol</a></li>
                                <li><a class="dropdown-item" href="/Login/Index/">Kullanıcı Girişi</a></li>
                                <li><a class="dropdown-item" href="/Login/Index/">Admin Girişi</a></li>
                                <li><a class="dropdown-item" href="/Login/Index/">Doktor Girişi</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/Home/Iletisim/">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <h1 class="text-capitalize mb-5 text-lg">Hakkımızda</h1>

                        <!-- <ul class="list-inline breadcumb-nav">
                          <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                          <li class="list-inline-item"><span class="text-white">/</span></li>
                          <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section about-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="title-color">‎Sağlıklı yaşamınız için kişisel bakım‎</h2>
                </div>
                <div class="col-lg-8">
                    <p>Türkiye'nin her bir noktasından kolayca ulaşacağınız doktorlar ve sonuçlar.</p>
                    <p>Amacımız insanların online olarak randevu alabilmesi, randevu dışında da yine hastane, sağlık ocağı gibi kurumlara gitmesine 
                    gerek kalmadan sadece web sitesi üzerinden sağlık bilgilerini görüntüleyebilmesi, tahlil yaptırdığında bunun sonucu için saatlerce 
                    hastanede beklemesine gerek kalınmadan sonuçlarına online olarak ulaşabilmesi gibi şeylerdir. 
                    Aynı zamanda tüm zamandaki aldığı eski randevuları görüntüleyebilir, olduğu aşıların, aldığı raporların, alerjilerinin gibi çoğu 
                    sağlık bilgisine erişebilir.
                    </p>
                    <img src="~/novena/images/about/sign.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="fetaure-page ">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="about-block-item mb-5 mb-lg-0">
                        <img src="~/novena/images/about/about-1.jpg" alt="" class="img-fluid w-100">
                        <h4 class="mt-3">
                            ‎Çocuklar için Sağlık Hizmetleri‎
                        </h4>
                        <p>Çocuklar için birebir doktorlar ve hizmetler.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="about-block-item mb-5 mb-lg-0">
                        <img src="~/novena/images/about/about-2.jpg" alt="" class="img-fluid w-100">
                        <h4 class="mt-3">
                            ‎Tıbbi Danışmanlık‎
                        </h4>
                        <p>Danışmanlık alabileceğiniz doktorlar.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="about-block-item mb-5 mb-lg-0">
                        <img src="~/novena/images/about/about-3.jpg" alt="" class="img-fluid w-100">
                        <h4 class="mt-3">
                            ‎Modern Sağlık Teknolojisi‎
                        </h4>
                        <p>Randevu alıp sağlık bilgilerine erişmek artık bir adım ilerinizde.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="about-block-item">
                        <img src="~/novena/images/about/about-4.jpg" alt="" class="img-fluid w-100">
                        <h4 class="mt-3">
                            ‎Nitelikli ve Yetenekli Doktorlar‎
                        </h4>
                        <p>Doktorlarımız işlerinde başarılı ve yeteneklidir.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section awards">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <h2 class="title-color">Doktorlarımızın başarıları sayesinde aldığımız ödüller </h2>
                    <div class="divider mt-4 mb-5 mb-lg-0"></div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="award-img">
                                <img src="~/novena/images/about/3.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="award-img">
                                <img src="~/novena/images/about/4.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="award-img">
                                <img src="~/novena/images/about/1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="award-img">
                                <img src="~/novena/images/about/2.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="award-img">
                                <img src="~/novena/images/about/5.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="award-img">
                                <img src="~/novena/images/about/6.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section team">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="mb-4">Uzmanlarımız</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>‎Günümüz kullanıcıları zahmetsiz deneyimler bekliyor. 
                        Temel insanların ve süreçlerin geçmişte sıkışıp kalmasına izin vermeyin. Hızlandırın, zorlukları atlayın.‎</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block mb-5 mb-lg-0">
                        <img src="~/novena/images/team/1.jpg" alt="" class="img-fluid w-100">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block mb-5 mb-lg-0">
                        <img src="~/novena/images/team/2.jpg" alt="" class="img-fluid w-100">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block mb-5 mb-lg-0">
                        <img src="~/novena/images/team/3.jpg" alt="" class="img-fluid w-100">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block">
                        <img src="~/novena/images/team/4.jpg" alt="" class="img-fluid w-100">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="section-title">
                        <h2 class="mb-4">
                            ‎Hakkımızda söylenenler‎
                        </h2>
                        <div class="divider  my-4"></div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 testimonial-wrap offset-lg-6">
                    <div class="testimonial-block">
                        <div class="client-info ">
                            <h4>İnanılmaz Servis!</h4>
                            <span>John Partho</span>
                        </div>
                        <p>Hızlı bir şekilde</p>
                        <p> randevu alabiliyorum </p>
                        <p>  MÜKEMMEL!!</p>
                        <i class="icofont-quote-right"></i>

                    </div>

                    <div class="testimonial-block">
                        <div class="client-info">
                            <h4>Muhteşem doktorlar!</h4>
                            <span>Aysel Çiftçi</span>
                        </div>
                        <p>Randevu alarak gittiğim doktorların hepsi çok güleryüzlü ve iyilerdi.</p>
                        <p>Böyle bir sistem olduğu için çok mutluyuz.</p>
                        <p>Tebrikler!!!!!</p>
                        <i class="icofont-quote-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer Start -->
    <footer class="footer section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mr-auto col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <div class="logo mb-4">
                            <img src="~/novena/images/logo.png" alt="" class="img-fluid">
                        </div>
                        <p>Başarılı olmak
                        ve
                        Topluma kolaylık sağlamak
                        Hedefimiz</p>

                        <ul class="list-inline footer-socials mt-4">
                            <li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Bazı Klinikler</h4>
                        <div class="divider mb-4"></div>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="#">Diş Hekimliği </a></li>
                            <li><a href="#">Genel Cerrah</a></li>
                            <li><a href="#">Radyoloji</a></li>
                            <li><a href="#">Kardiyoloji</a></li>
                            <li><a href="#">Nöroloji</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Destek</h4>
                        <div class="divider mb-4"></div>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="#">Aydınlatma Metni</a></li>
                            <li><a href="#">Şartlar & Koşullar</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                            <li><a href="#">SSS </a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-contact mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">İletişime Geçin</h4>
                        <div class="divider mb-4"></div>

                        <div class="footer-contact-block mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-email mr-3"></i>
                                <span class="h6 mb-0">7/24 Destek Hattı</span>
                            </div>
                            <h4 class="mt-2"><a href="tel:+23-345-67890">novena@gmail.com</a></h4>
                        </div>

                        <div class="footer-contact-block">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-support mr-3"></i>
                                <span class="h6 mb-0">Pzt-Cuma : 09:00 - 17:00</span>
                            </div>
                            <h4 class="mt-2"><a href="tel:+23-345-67890">444 65 68</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-btm py-4 mt-5">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6">
                        <div class="copyright">
                            &copy; Telif Hakkı <span class="text-color">Novena'ya</span> aittir <a href="https://themefisher.com/" target="_blank">Themefisher</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="subscribe-form text-lg-right mt-5 mt-lg-0">
                            <form action="#" class="subscribe">
                                <input type="text" class="form-control" placeholder="Mail adresiniz">
                                <a href="#" class="btn btn-main-2 btn-round-full">Abone ol</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <a class="backtop js-scroll-trigger" href="#top">
                            <i class="icofont-long-arrow-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!--
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="~/novena/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="~/novena/plugins/bootstrap/js/popper.js"></script>
    <script src="~/novena/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/novena/plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="~/novena/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="~/novena/plugins/counterup/jquery.waypoints.min.js"></script>

    <script src="~/novena/plugins/shuffle/shuffle.min.js"></script>
    <script src="~/novena/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="~/novena/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

    <script src="~/novena/js/script.js"></script>
    <script src="~/novena/js/contact.js"></script>

</body>
</html>