@using MvcESaglik.Models.Siniflar
@model List<Alerji>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table#t01 tr:nth-child(even) {
            background-color: #f0ef9a;
        }

        table#t01 tr:nth-child(odd) {
            background-color: #ae91ef;
        }

        table#t01 th {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h2>ALERJİ SAYFASI</h2>
    <table class="table table-bordered" style="margin-top:20px" id="t01">
        <tr>
            <th>Alerji ID</th>
            <th>Alerji Adı</th>
            <th>Kullanıcı</th>
        </tr>
        @foreach (var alrj in Model)
        {
            <tr>
                <td style="font-size:15px">@alrj.AlerjiID</td>
                <td style="font-family:Centaur; font-size:20px">@alrj.AlerjiAd</td>
                <td style="font-family:Centaur; font-size:20px">@alrj.KullaniciProfil.KullaniciAd @alrj.KullaniciProfil.KullaniciSoyad</td>
            </tr>
        }
    </table>
</body>
</html>
